
.contact{
    display: inline-block;
    margin: 3vh 40vw;

}
.container{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
}
.button{
        border: 2px solid white;
        background-color: rgb(189, 159, 159);
        display: inline-block;
        width: 20vw;
        margin-top: 0.5vh;
}
.input{
    display: flex;
    flex-direction: column;
    width: 20vw;
    border: 2px solid rgb(194, 138, 138);
}