.nav{
    background-color: rgba(236, 218, 218, 0.5);
}
.navul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0rem;
    margin-left: 3rem;
    padding: 0rem;
    
}
.navli{
    margin: 0.2rem;
    margin-left: 1rem;
    padding: 0.3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border: 1px solid white;
    border-radius: 7px;
    list-style: none;
    text-decoration-line: unset;
   
}
/* .navli-Link{
    list-style: none;
    text-decoration-line: none;
} */
.navli:hover{
    cursor: pointer;
    background-color: rgb(235, 199, 199);
   
}
#navmode{
  position: relative;
  left: 41rem;
  top: 0.5rem;
}